<div class="row">
    <div class="col-sm-6 menuapp-header-right">
        <a ui-sref="home">Home</a>
    </div>
    <div class="col-sm-6">
    </div>
</div>

<div class="row">
    <div class="col-sm-6 col-xs-12">
        <h3 class="menuapp-header">Categories</h3>
        <div class="menuapp-list">
            <categories categories="categoriesCtrl.categories"></categories>
        </div>
    </div>
    <div class="col-sm-6 col-xs-12">
        <h3 class="menuapp-header">Menu Items</h3>
        <div class="menuapp-list">
            <ui-view></ui-view>
        </div>
    </div>
</div>